<!-- hero -->
<section class="hero sect">
  <div class="container gb-flex-content">
    <div class="hero-details gb-flex-details">
      <h1 class="">Buy bitcoin and crypto instantly!</h1>
      <p class="paragh">
        Gemini is a simple, elegant, and secure platform to build your crypto
        portfolio.
      </p>
      <button class="btn prim-btn dis-flex">Get Started Now</button>
    </div>
    <div class="gb-flex-img">
      <!-- <video
        src="https://www.gemini.com/static/images/landing/gemini-phone.mp4"
      ></video> -->
      <video
        poster="https://www.gemini.com/_next/static/images/crypto-on-the-go-cc8d94b5883d386291873b80281e4489.png.webp"
        playsinline=""
        autoplay=""
        muted=""
        loop=""
        preload="none"
      >
        <source
          src="https://www.gemini.com/static/images/landing/gemini-phone.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>

<!-- Section -->
<section class="sect">
  <div class="container gb-flex-content row-reverse">
    <div class="gb-flex-details">
      <h2 class="">Introducing the Gemini Credit Card™</h2>
      <ul>
        <li>
          <img src="../../../assets/img/svg/Check.svg" alt="" />
          <p>Up to 3% back on purchases</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/Check.svg" alt="" />
          <p>Earn rewards in bitcoin or 50+ other cryptos</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/Check.svg" alt="" />
          <p>No annual fee <sup>1</sup></p>
        </li>
      </ul>
      <button class="btn sec-btn dis-flex">Join the waitlist</button>
    </div>
    <div class="gb-flex-img">
      <!-- <img src="../../../assets/img/home/Group1.png" alt="image" /> -->
      <video
        poster="https://www.gemini.com/_next/static/images/crypto-on-the-go-cc8d94b5883d386291873b80281e4489.png.webp"
        playsinline=""
        autoplay=""
        muted=""
        loop=""
        preload="none"
      >
        <source
          src="https://www.gemini.com/static/images/landing/reveal-trio.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>
