<!-- Section -->
<section class="sect">
  <div class="container gb-flex-content">
    <div class="gb-flex-details">
      <h2 class="">Everyone’s health matter to us.</h2>
      <p class="paragh">
        Bastion offers innovative healthcare solutions with extensive
        flexibility, to provide quality healthcare with the peace of mind for
        the insured, anywhere, anytime.
      </p>
      <button class="btn sec-btn dis-flex">Get Started Now</button>
    </div>
    <div class="gb-flex-img">
      <img src="../../../assets/img/home/Group1.png" alt="image" />
    </div>
  </div>
</section>
