<div class="auth-container">
  <div class="auth">
    <img
      src="../../../assets/img/favicon.ico"
      alt=""
      class="clickable"
      routerLink="/"
    />
    <h2 class="auth-title">Sign in to Gemini</h2>
    <form>
      <div class="form-field">
        <label for="email">Email Address</label>
        <div class="input-field">
          <input type="email" />
        </div>
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <div class="input-field dis-flex">
          <input type="password" />
          <img
            src="../../../assets/img/svg/bx-show.svg"
            alt=""
            class="clickable"
          />
        </div>
      </div>
      <div class="form-footer dis-flex">
        <button class="btn prim-btn">Sign in</button>
        <div class="form-footer-extra">
          <p class="clickable">Create new account</p>
          <p class="clickable">Rest your password</p>
        </div>
      </div>
    </form>
  </div>
</div>
